h1{
    color: blue;
}
li{
    color: rgb(14, 180, 125);
}
h3{
    color: blueviolet;
}
button{
    background-color: rgb(126, 94, 243);
    height: 60px;
    width: 100px;
    border-radius: 40px;
}
mess{
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;

}